<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="post-entry(post)" class="row home-post" th:if="${post != null}">
        <img th:src="@{'/images/' + ${post.type} + '.png'}" alt="type icon">
        <div class="post">
            <div class="post-title">
                <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">Post Title</a>
                <div class="post-date" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy')}">16-11-2015</div>
            </div>
            <div class="post-content">
                <th:block th:switch="${post.type}">
                    <!-- Case for 'photo' type -->
                    <a th:case="'photo'" th:href="@{/post/{id}(id=${post.id})}" style="width: 100%">
                        <img th:src="@{'/images/' + ${post.imagePath}}" alt="post photo">
                    </a>

                    <!-- Case for 'quote' type -->
                    <div th:case="'quote'" class="quote">
                        <!-- The quote content is pre-processed in the PostMapper -->
                        <q class="quote-content" th:utext="${post.quoteContent}">The quote itself...</q>
                        <p class="quote-author" th:text="${post.quoteAuthor} + ' —'">William W. Purkey —</p>
                    </div>

                    <!-- Default case (for 'blog' type) -->
                    <div th:case="*">
                        <a th:href="@{/post/{id}(id=${post.id})}">
                            <img th:src="@{'/images/' + ${post.imagePath}}" alt="post photo">
                        </a>
                        <p th:utext="${post.content}">Blog post content...</p>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div th:fragment="post-detail(post)" class="row detail-post" th:if="${post != null}">
        <img th:src="@{'/images/' + ${post.type} + '.png'}" alt="type icon">
        <div class="post">
            <div class="post-title">
                <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">Post Title</a>
                <div class="post-date" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy')}">16-11-2015</div>
            </div>
            <div class="post-content">
                <th:block th:switch="${post.type}">
                    <!-- Case for 'photo' type -->
                    <a th:case="'photo'" th:href="@{/post/{id}(id=${post.id})}" style="width: 100%">
                        <img th:src="@{'/images/' + ${post.imagePath}}" alt="post photo">
                    </a>

                    <!-- Case for 'quote' type -->
                    <div th:case="'quote'" class="quote">
                        <!-- The quote content is pre-processed in the PostMapper -->
                        <q class="quote-content" th:utext="${post.quoteContent}">The quote itself...</q>
                        <p class="quote-author" th:text="${post.quoteAuthor} + ' —'">William W. Purkey —</p>
                    </div>

                    <!-- Default case (for 'blog' type) -->
                    <div th:case="*">
                        <a th:href="@{/post/{id}(id=${post.id})}">
                            <img th:src="@{'/images/' + ${post.imagePath}}" alt="post photo">
                        </a>
                        <p th:utext="${post.content}">Blog post content...</p>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>

</html>