<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="side-banner" th:fragment="side-banner(socials)">
        <div class="side-container container-box">
            <div class="banner-title text-larger banner-title-bold">Share this page</div>
            <ul th:if="${socials != null and not #lists.isEmpty(socials)}">
                <li th:each="social : ${socials}">
                    <a href="#">
                        <img th:src="@{'/images/' + ${social.icon}}" th:alt="${social.name}">
                        <span class="underline" th:text="'Share on ' + ${social.name}">Share on Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>