@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

html {
    background-color: #c2baaf;
    background-image: url('../images/background.jpg');
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

body {
    max-width: 980px;
    margin: 0 auto 3rem;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 17px #6d5160;
    font-size: 16px;
    line-height: 22px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

.header {
    padding: 1rem 1.5rem 0 1.5rem;
    background-color: #efeae2;
    color: #6d5160;
}

.header-title {
    font-size: 47px;
    margin: 2rem 0 1.25rem 0;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.header-subtitle {
    font-size: 22px;
    margin: 0 0 3rem 0;
    font-weight: 400;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.header-nav {
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.header-nav-list {
    display: flex;
    gap: 1.5rem;
}

.header-nav-link {
    text-decoration: none;
    color: #000;
}

.header-nav-link.active {
    font-weight: bold;
}

.page-layout {
    padding: 2rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}

.main-content {
    margin-right: 1.5rem;
}

.page-title {
    font-size: 2rem;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    margin: 1rem 0.25rem;
    font-weight: bold;
}

.footer {
    padding: 1rem;
}

.footer-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-credit a {
    color: #000;
    text-decoration: underline;
}

.post {
    display: flex;
    gap: 1rem;
    padding: 22px 0;
    margin-top: 16px;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
}

.post-icon {
    padding: 0.5rem 22px 0 0;
    height: 48px;
    width: 48px;
    flex-shrink: 0;
}

.post-body {
    width: 100%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.post-title {
    font-size: larger;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}

h3.post-title {
    margin: 0;
}

.post-date {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    white-space: nowrap;
}

.post-content {
    font-size: 15px;
    line-height: 1.5;
}

.post-content p {
    margin: 0 0 1rem 0;
    font-weight: lighter;
}

.post-image {
    width: 100%;
    border-radius: 15px;
    height: auto;
    padding-top: 0.5rem;
}

.post-content-image-link {
    float: left;
    width: 50%;
    margin: 0 1rem 0.5rem 0;
}

.post-photo-link {
    display: block;
    width: 100%;
    margin: 0;
}

.quote {
    border-right: 5px solid #000;
    text-align: right;
    padding-right: 1.5rem;
}

.quote-text {
    font-style: italic;
    font-size: 1.1rem;
}

.quote-author {
    font-size: 14px;
    margin-top: 0.5rem;
}

.side-banner {
    padding: 0.5rem;
}

.side-banner-container {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #6d5160;
}

.side-banner-title {
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: bold;
}

.side-banner-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.side-banner-link {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.side-banner-link:hover .side-banner-link-text {
    text-decoration: underline;
}

.side-banner-link-text {
    text-decoration: underline;
}

.overview-link {
    display: block;
    text-align: center;
    color: #000;
    margin-top: 2rem;
    text-decoration: underline !important;
}

.overview-list {
    margin-top: 1.5rem;
}

.overview-group {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.overview-item {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.overview-group+.overview-item {
    border-top: none;
}

.overview-item-title {
    color: #000;
    text-decoration: underline;
}

.about-me-text {
    padding-bottom: 1rem;
}

.about-me-signature-box {
    margin-top: 3rem;
}

.about-me-signature {
    font-family: 'Brush Script MT', cursive;
    font-size: 47px;
    margin: 0;
}

.footer-page-counter {
    display: flex;
    gap: 2px;
    align-items: center;
}

.footer-page-counter-item {
    border: solid 0 #000;
    background: #fff;
    font-size: 14.4px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 14.4px;
    padding: 2px 2px 1px;
    margin: 3px 2px 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px #595959;
    text-align: center;
    color: #000;
    font-weight: 700;
    width: 10px;
    position: relative;
}

.footer-page-counter-item:before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 52%;
    left: 0;
    margin-top: -1px;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
}

.dotted-border {
    border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
}

.error-message {
    color: #CD0D18;
    background-color: #FFD2D2;
    margin: 0.5rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #CD0D18;
}

.navigation-link {
    margin-top: 1.5rem;
}

.no-data {
    font-style: italic;
    color: #666;
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #f5f5f5;
    border: 1px dashed #ccc;
    text-align: center;
}