<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="~{fragments/header :: header(activePage='aboutMe')}"></div>

    <div class="page-layout">
        <main class="main-content">
            <h3 class="page-title">About Me</h3>

            <div th:if="${aboutMe == null or aboutMe.content == null}" class="no-data">
                No information available.
            </div>

            <div th:if="${aboutMe != null and aboutMe.content != null}">
                <div class="about-me-text dotted-border">
                    <p th:utext="${aboutMe.content}"></p>
                </div>
                <div class="about-me-signature-box">
                    <p>Kind regards</p>
                    <p class="about-me-signature" th:text="${aboutMe.author}"></p>
                </div>
            </div>
        </main>

        <div th:replace="~{fragments/side-banner :: side-banner}"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>